{% load static %}
<div class="container text-center">
    <div class="row">
      <div class="col-md-4 col-sm-12 padding">
        <div class="card" style="width: 18rem;">
          <a href="###"><img src="assets/img/Microsoft_Office_Excel_(2019–present).svg.png" class="card-img-top" alt="..." height="200px" width="100px"></a>
          <div class="card-body">
            <h5 class="card-title"><span>{{x.name}}</span></h5>
            <p class="card-text">
                <span>{{x.description}}</span> <br>
                <span>{{x.price}}</span> <br>
                <span>{{x.stock}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>