{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Titulo da Página</title>
{% endblock %}
{% block content %}
{% include 'partials/navbar.html' %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/img/carrosel01.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/img/carrosel02.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/img/carrosel03.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div style="background-color: #3d5a72; padding-top: 50px;">
  <div class="text-center cor" style="padding-bottom: 20px;">
    <h1 style="font-size: 60px;">
      Produtos
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
        {% for x in users %}
          {% include 'partials/card.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<br>
<hr style="color: white;">
<br>
<hr style="color: white;">
<div class="container text-center">
<div>
  <h1 style="color: #3d5a72; margin-bottom: 50px;">
    Confira nossas redes sociais
  </h1>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <img src="{% static 'assets/img/loja.jpg' %}" class="img-fluid" alt="" height="600px" width="600px">
  </div>
  <div class="col-md-6 col-sm-12 text-start">
    <div class="padding" style="padding-top: 80px;">
      <p style="padding-top: 5px; padding-left: 5px;">(99)9999-9999</p>
    </div>
    <div class="padding">
      <a style="padding-top: 5px;  padding-left: 5px;" href="###"><b>@Constroi</b></a>
    </div>
  </div>
</div>
</div>
    <!--Footer Início-->  
  {% include 'partials/_footer.html' %}
    
  <!--Footer Fim-->  
{% endblock %}
